{% extends "FOSUserBundle::layout.html.twig" %}

{% block body -%}
    <h2 class="sub-header">Perfil</h2>
    <div class="col-xs-12">
    {% block fos_user_content %}
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
    </div>
{% endblock %}