/*cambios estilos bootstrap*/
.navbar-inverse{
    background-color: RGB(10, 27, 77);
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

.navbar-brand{
    padding: 7px 14px;
}

.navbar-brand img{
    width: 245px
}

.sidebar{
    background-color: #161616;
    font-size: 20px;
    border: none;
}

.nav > li > a:focus, .nav > li > a:hover{
    background-color: #293E77;
}

.nav > li > a:focus, .nav > li > a{
    color: #FFF;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
    font-weight: bold;
    background-color: #262b2e;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #FFF;
}

.table .glyphicon{
    font-size: 20px;
}

.form-control{
    background-color: transparent;
    color: #DDD;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #666;
    color: #000;
}
/*fin cambios estilos bootstrap*/

body{
    background-color: #262b2e;
    color: #FFF;
}

.records_list tbody tr:hover{
    background-color: #161616;
}

.btn-action-top .glyphicon{
    font-size: 30px;
}

.table.table-show tr > td, .table.table-show tr > th{
    border: none;
}

.btn-action-top button.glyphicon{
    background-color: transparent;
    color: #337AB7;
    padding: 0;
    line-height: 1;
}

.btn-action-top button.glyphicon:hover{
    color: #23527C;
}

body.pdf-export, .pdf-export h1, .pdf-export h3{
    background-color: #FFF;
    color: #000;
}

#navbar a{
    color:#337ab7;
    display: inline-block;
    padding-left: 0px;
}

.portada{
    
}

.vich-image img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto 0px auto;
    border-radius: 50%;
}

.vich-image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
   // min-height: 100%;
   // font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

body.body-deslog{
    background-image: url("../images/iconos/dromoPortada.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-login{
    margin-top: 175px;
}

.container-login a{
    color: #FFF;
}

.img-tipo{
    width: 60px;
}

