/*cambios estilos bootstrap*/
.navbar-inverse{
    background-color: #0E1124;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

.sidebar{
    background-color: #161616;
    font-size: 20px;
    border: none;
}

.nav > li > a:focus, .nav > li > a:hover{
    background-color: #293E77;
}

.nav > li > a:focus, .nav > li > a{
    color: #FFF;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
    font-weight: bold;
    background-color: #262626;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    color: #FFF;
}

.table .glyphicon{
    font-size: 20px;
}

.form-control{
    background-color: transparent;
    color: #DDD;
}
/*fin cambios estilos bootstrap*/

body{
    background-color: #262626;
    color: #FFF;
}

.records_list tbody tr:hover{
    background-color: #161616;
}

a.new-entity span{
    font-size: 30px;
}

.table.table-show tr > td, .table.table-show tr > th{
    border: none;
}