{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
    <div  class="portada col-xs-12 img-responsive" height="100%">

        <h1><font color=#3fdc22 style="text-shadow:blue; text-shadow:2px 2px rgba(0, 0, 0, 0.75)" ><b>Dromo es una solución tecnológica que facilita el contacto entre locales comerciales y clientes potenciales, a través de una aplicación de celular que presenta ofertas basadas en la ubicación y preferencias del usuario móvil.

                <br><br>
                <br><br><br><br>Si estás interesado en unirte a nuestro escribinos a contacto@dromoweb.com </b></font> </h1>
       
    </div>
        </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
