cobros_pendientes_locales:
    path:     /pendientes/locales
    defaults: { _controller: "AppBundle:Cobros:showLocalesPendientes" }

cobros_pendientes_detalle_local:
    path:     /pendientes/{id}/local
    defaults: { _controller: "AppBundle:Cobros:getPendientesLocal" }
    
cobro_local:
    path:     /pendientes/cobrar
    defaults: { _controller: "AppBundle:Cobros:setCobroLocal" }
    methods:  POST
    
cobros_cobrados_locales:
    path:     /cobrados/locales
    defaults: { _controller: "AppBundle:Cobros:showLocalesCobrados" }

cobros_cobrados_detalle_local:
    path:     /cobrados/{id}/local
    defaults: { _controller: "AppBundle:Cobros:getCobradosLocal" }

cobros_pendientes_detalle_local_exportar_pdf:
    path:     /pendientes/{id}/local/export-pdf
    defaults: { _controller: "AppBundle:Cobros:getPdfPendientesLocal" }
