sucursal:
    path:     /
    defaults: { _controller: "AppBundle:Sucursal:index" }
    
sucursal_local:
    path:     /{idLocal}/
    defaults: { _controller: "AppBundle:Sucursal:indexLocal" }

sucursal_show:
    path:     /{id}/show
    defaults: { _controller: "AppBundle:Sucursal:show" }

sucursal_new:
    path:     /new
    defaults: { _controller: "AppBundle:Sucursal:new" }
    
sucursal_new_local:
    path:     /{idLocal}/new
    defaults: { _controller: "AppBundle:Sucursal:newSucursal" }

sucursal_create:
    path:     /create
    defaults: { _controller: "AppBundle:Sucursal:create" }
    methods:  POST

sucursal_edit:
    path:     /{id}/edit
    defaults: { _controller: "AppBundle:Sucursal:edit" }

sucursal_update:
    path:     /{id}/update
    defaults: { _controller: "AppBundle:Sucursal:update" }
    methods:  [POST, PUT]

sucursal_delete:
    path:     /{id}/delete
    defaults: { _controller: "AppBundle:Sucursal:delete" }
    methods:  [POST, DELETE]
    
sucursal_ajax_localidad:
    path:     /ajax-localidad
    defaults: { _controller: "AppBundle:Sucursal:ajaxForm" }
    condition: "request.isXmlHttpRequest()"
