{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}
    <div class="row">
        <div class="col-xs-3">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 pull-right text-right">
            <input  class="btn btn-primary btn" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}


<script type="text/javascript">
    function mostrarTyC(){
        swal({
          title: "HTML <small>Title</small>!",
          text: 'A custom <span style="color:#F8BB86">html<span> message.',
          html: true
        });  
    }
</script>
