{% extends "FOSUserBundle::layout.html.twig" %}

{% block body -%}
    <h2 class="sub-header">Cambiar contrase&ntilde;a</h2>
    <div class="col-xs-12">
        {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
