{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-horizontal' } }) }}
    <div class="row">
        <div class="col-xs-3">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 pull-right text-right">
            <input  class="btn btn-primary btn" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}

<div class="hidden">
    <div id="content-tyc">
        <div class="content-tyc">
            <h3>INTRODUCCIÓN</h3>
            <p>
                Los siguientes términos de uso abarcan el uso del sistema Dromo y de sus servicios ofrecidos; 
                al utilizar nuestro sitio, usted acepta estos términos completamente siendo estos de carácter 
                obligatorio. Si no está de acuerdo con estos términos de uso, alguna parte de ellos, o las políticas 
                y principios que se adhieren, usted no debe utilizar nuestro sitio.
                <br>
                Usted debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones
                y en las Políticas de Privacidad así como en los demás documentos incorporados a los mismos por
                referencia, previa su inscripción como usuario registrado en DROMO.
            </p>
            <h3>LICENCIA PARA USAR EL SITIO</h3>
            <p>
                A no ser que se establezca lo contrario, nosotros somos dueños de los derechos de propiedad intelectual
                y material del sitio. Sujeto a la licencia debajo, todos estos derechos de propiedad intelectual están
                reservados. Usted puede mirar, descargar, copiar e imprimir las páginas del sitio para su propio uso
                personal, sujeto a las restricciones establecidas debajo y en otras secciones de estos términos de uso.
            </p>
            <h3>NO SE DEBE</h3>
            <p>
                Republicar material de este sitio web (incluido re publicaciones en otro sitio web).<br>
                Vender, alquilar o sub-licenciar material de este sitio web.<br>
                Mostrar cualquier material restringido de este sitio web públicamente (incluye correos electrónicos
                de profesionales o empresas publicados, información estadística del sitio, y todo material únicamente
                disponible para determinado tipo de usuario).<br>
                Editar o modificar cualquier material del sitio a no ser que sea de su pertenencia.<br>
                Cuando el contenido esté específicamente disponible para la redistribución, solo puede ser
                redistribuido dentro de su organización.<br>
            </p>
            <h3>USO CORRECTO DEL SITIO</h3>
            <p>
                Usted no debe utilizar nuestro sitio en cualquier modo que cause, o pueda causar, daño al servicio,
                defectos en la disponibilidad o accesibilidad; o en cualquier modo que sea ilícito, ilegal, fraudulento
                o dañino, o en relación con cualquier propósito o actividad ilícita, ilegal, fraudulenta o dañina.<br>
                Usted no debe usar nuestro sitio web para copiar, almacenar, hostear, transmitir, enviar, usar, publicar
                o distribuir cualquier material que consista de (o este hipervinculado con) cualquier spyware, virus de 
                computador, troyanos, gusanos, escuchador de teclado, rootkits u otro software de computador malicioso.
                Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de
                propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su
                responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo,
                así como lo hará responsable de indemnizar los daños ocasionados.
                Usted no puede realizar cualquier actividad de recolección de datos sistemática o automatizada sobre
                o en relación con nuestro sitio web sin nuestro expreso consentimiento por medio escrito.
                Usted no debe usar nuestro sitio web para transmitir o enviar comunicados comerciales que no son
                solicitados.
                Usted no debe usar nuestro sitio web para cualquier propósito relacionado a marketing sin nuestro
                expreso consentimiento por medio escrito.
                El usuario no podrá insultar a ningún otro usuario del sitio. Cualquier usuario tiene el derecho de
                reclamar por estas faltas.
                Dromo podrá advertir, suspender o inhabilitar una cuenta de usuario si:<br>
                El usuario quebranta la ley.<br>
                No acata los términos y condiciones y los documentos anexos.<br>
                El usuario provee información inválida.<br>
                Un usuario realiza fraude en el pago del pedido realizado.<br>
            </p>
            <h3>ACCESO RESTRINGIDO</h3>
            <p>
                El acceso a ciertas áreas de nuestro sitio web es restringido. Nos reservamos el derecho de restringir
                el acceso a otras áreas de nuestro sitio web, o efectivamente al sitio web completo, a nuestra
                discreción.<br>
                Si nosotros le proveemos con un Identificador de usuario y una contraseña la cual lo habilita a usted 
                a ingresar áreas restringidas de nuestro sitio web u otros contenidos o servicios, usted debe asegurarse que el identificador de usuario y la contraseña son guardadas con confidencialidad.
                Nosotros deshabilitaremos su identificador de usuario y contraseña a nuestra discreción sin ninguna
                notificación o explicación si vemos que no cumple con lo establecido en los términos y condiciones 
                o en los otros documentos relacionados al uso correcto del sitio.
            </p>
            <h3>CONTENIDO GENERADO POR EL USUARIO PUBLICADO</h3>
            <p>
                En estos términos de uso, "su contenido de usuario" significa el material (incluye cualquier información
                o archivo que el sitio le solicite al usuario) que usted provee a nuestro sitio web, para el propósito
                que sea. Usted nos concede una licencia mundial, irrevocable, no exclusiva para usar, reproducir,
                adaptar, publicar, traducir y distribuir su contenido de usuario por cualquier medio existente o futuro.
                Usted también nos concede el derecho de sub licenciar estos derechos, y el derecho de tomar acciones
                por infringir de estos derechos.<br>
                Su contenido de usuario no debe ser ilegal o ilícito, no debe infringir cualquier derecho legal de
                terceros, y no debe ser causante de la toma de acciones legales ya sea contra usted, o nosotros o 
                terceros. (En cualquier caso bajo cualquier ley aplicable). Nos reservamos el derecho de editar o 
                eliminar cualquier material provisto a nuestro sitio web, almacenado en nuestros servidores, alojado
                o publicado en nuestro sitio web.<br>
                No obstante nuestros derechos bajo estos términos de uso en relación al contenido de usuario, nosotros
                no nos encargaremos de monitorear el ingreso de tal contenido a nuestro sitio web, o la publicación
                de tal contenido.
            </p>
            <h3>GARANTÍAS LIMITADAS</h3>
            <p>
                Mientras nosotros nos esforzamos para asegurar que la información de este sitio web es correcta,
                nosotros no garantizamos su completitud o exactitud; ni nos comprometemos a asegurar que el sitio 
                web se mantenga disponible o que el material en el sitio web esté actualizado. Dromo no se
                responsabiliza por la certeza de los datos. Los usuarios y restaurantes adheridos serán los 
                que respondan por la veracidad de sus datos personales.<br>
                Nos reservamos el derecho de solicitar algún comprobante de datos del usuario. En caso de que dicho
                comprobante no sea provisto, tendremos el poder de eliminar la cuenta del usuario sin previo aviso.<br>
                Dromo se esforzará porque la respuesta de los restaurantes sea lo más veloz posible, aunque no se
                responsabiliza por el mal uso de los mismo con el sistema, reservándose el derecho de suspender
                el uso del sistema a cualquier empresa gastronómica que dañe la imagen o servicio de Dromo.
            </p>
            <h3>LIMITACIONES DE RESPONSABILIDAD</h3>
            <p>
                Nuestra responsabilidad hacia usted en relación al uso de nuestro sitio web o bajo o en conexión con
                estos términos de uso, tanto en contrato, agravio (incluyendo negligencia) o de lo contrario, será
                limitado por lo siguiente:<br>
                En la medida que el sitio web y la información y algunos de los servicios del sitio web son provistos
                de forma gratuita, no nos responsabilizaremos por cualquier pérdida o daño de cualquier naturaleza.<br>
                Dromo no se responsabiliza por cualquier daño, perjuicio o pérdida al usuario causados por fallas en 
                el sistema, en el servidor o en Internet.<br>
                Dromo tampoco será responsable por cualquier virus que pudiera infectar el equipo del usuario como 
                consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos
                en el mismo. Los usuarios no podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante,
                en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet.<br>
                Dromo no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede
                eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier
                otra circunstancia ajena a Dromo; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad.
                Dromo no será responsable por ningún error u omisión contenidos en su sitio web. No seremos responsables
                por cualquier consecuencia por la pérdida o daño indirecta o directa. No seremos responsables por
                cualquier pérdida de ganancias, ingreso, rentas, contratos, negocios, reputación, datos o información.<br>
                No seremos responsables por cualquier pérdida o daño resultante de cualquier evento o eventos fuera
                de nuestro control razonable. En caso que uno o más usuarios o algún tercero inicien cualquier tipo 
                de reclamo o acciones legales contra otro u otros usuarios, todos y cada uno de los usuarios involucrados
                en dichos reclamos o acciones eximen de toda responsabilidad a Dromo y a sus directores, gerentes,
                empleados, agentes, operarios, representantes y apoderados.
            </p>
            <h3>INCUMPLIMIENTO DE ESTOS TÉRMINOS DE USO</h3>
            <p>
                Sin prejuicio a nuestros otros derechos bajo estos términos de uso, si usted viola estos términos 
                de uso en cualquier modo, nosotros tomaremos la acción que consideremos apropiada para lidiar con
                la violación, incluyendo la suspensión de su acceso al sitio web, la prohibición de que usted ingrese 
                al sitio web, bloqueando los computadores que usan sus direcciones IP para acceder al sitio web, 
                contactándonos con su proveedor del servicio de internet para solicitar que ellos bloqueen su acceso
                al sitio web y/o tomar acciones legales contra usted.
            </p>
            <h3>VARIACIÓN</h3>
            <p>
                Nosotros podremos revisar estos términos de uso cada cierto tiempo. Los términos de uso revisados,
                modificados, aplicarán al uso del sitio web desde la fecha de publicación de los términos de uso
                revisados en nuestro sitio web. Por favor verifique este documento regularmente para asegurarse
                de conocer la versión actual.
            </p>
            <h3>CESIÓN</h3>
            <p>
                Nosotros podremos transferir, sub contratar o de otra forma lidiar con nuestro derechos u obligaciones
                bajo estos términos de uso sin notificarle u obtener su consentimiento. Usted no podrá transferir,
                sub contratar o de otra forma lidiar con sus derechos u obligaciones bajo estos términos de uso.
            </p>
            <h3>EXCLUSIÓN DE DERECHO A TERCEROS</h3>
            <p>
                Estos términos de uso son para el beneficio de usted y nosotros, y no están intencionados para
                beneficiar a terceros o ser impuestos por cualquier tercero. El ejercicio de nuestros y sus derechos
                en relación a estos términos de uso no está sujeto al consentimiento de terceros.
            </p>
            <h3>ACUERDO COMPLETO</h3>
            <p>
                Estos términos de uso, junto con nuestras políticas de privacidad, constituyen el acuerdo completo 
                entre usted y nosotros en relación al uso que usted hace de nuestro sitio web y sus servicios ofrecidos,
                y sustituye todo previo acuerdo con respecto al uso de usted de este sitio web.
            </p>
            <h3>JURISDICCIÓN Y LEY APLICABLE</h3>
            <p>
                Este acuerdo estará regido en todos sus puntos por la leyes vigentes del país de uso destino del
                sistema.
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function mostrarTyC(){
        var htlTyC = $('#content-tyc').html();
        swal({
          title: '<div class="title-tyc">Términos y condiciones</div>',
          text: htlTyC,
          html: true,
          confirmButtonText: "Acepto",
          confirmButtonColor: "#286090"
        });  
    }
</script>
