{% extends '::base.html.twig' %}

{% block body -%}

    <h3 class="sub-header">Sucursales</h3>

    <table class="table table-hover records_list">
        <thead>
            <tr>
                <th class="col-xs-5">Direcci&oacute;n</th>
                <th class="col-xs-3">Tel&eacute;fono</th>
                <th class="col-xs-1">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.direccion.descripcion }}</td>
                    <td>{{ entity.telefono }}</td>

                    <td>
                        <a title="ver" href="{{ path('sucursal_show', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        &nbsp;&nbsp;&nbsp;
                        <a title="editar" href="{{ path('sucursal_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
