AppBundle\Entity\Programacion:
    properties:
        promocion:
            - NotNull:
                message: "Campo obligatorio"
        cantidad:
            - NotBlank:
                message: "Campo obligatorio"
            - Type:
                type: integer
                message: "El valor no es válido"
            - Length:
                min: 1
                max: 4
                minMessage: "El campo debe tener minimo {{ limit }} caracteres"
                maxMessage: "El campo debe tener maximo {{ limit }} caracteres" 
            - GreaterThanOrEqual:
                value: 1
                message: "La cantidad minima es 1 "
        fechaInicio:
            - NotNull:
                message: "Campo obligatorio"
        fechaFin:
            - NotNull:
                message: "Campo obligatorio"
        horaInicio:
            - NotNull:
                message: "Campo obligatorio"
        duracion:
            - NotNull:
                message: "Campo obligatorio"
    constraints:
        - Callback:
            methods:   [isValidDays]

AppBundle\Entity\Promocion:
    properties:
        titulo:
            - NotBlank:
                    message: "Campo obligatorio"
            - Length:
                min: 3
                max: 25
                minMessage: "El campo debe tener minimo {{ limit }} caracteres"
                maxMessage: "El campo debe tener maximo {{ limit }} caracteres"         
        tipoPromocion:
            - NotNull:
                message: "Campo obligatorio"
        precio:
            - NotBlank:
                message: "Campo obligatorio"
            - Type:
                type: float
                message: "El valor no es válido"   
            - GreaterThanOrEqual:
                value: 0
                message: "El precio minimo es 0 "                
        tipoPromocion:
            - NotNull:
                message: "Campo obligatorio"
        descripcion:
            - NotBlank:
                    message: "Campo obligatorio"
            - Length:
                min: 5
                max: 500
                minMessage: "El campo debe tener minimo {{ limit }} caracteres"
                maxMessage: "El campo debe tener maximo {{ limit }} caracteres"
        puntajePremio:
            - GreaterThan:
                value: 0
                message: "El minimo es 0 " 
AppBundle\Entity\LocalComercial:
    properties:
        telefonoContacto:
            - Regex:
                pattern: '/^[0-9]*$/'
                message: "Se aceptan solo números"
            - Length:
                max: 13
                maxMessage: "El campo debe tener maximo de {{ limit }} caracteres"
                
AppBundle\Entity\Sucursal:
    properties:
        telefono:
            - Regex:
                pattern: '/^[0-9]*$/'
                message: "Se aceptan solo números"
            - Length:
                max: 13
                maxMessage: "El campo debe tener maximo de {{ limit }} caracteres"
                
AppBundle\Entity\Direccion:
    properties:
        localidad:
            - NotNull:
                message: "Campo obligatorio"
        latitud:
            - NotNull:
                message: "Campo obligatorio"
            - Type:
                type: float
                message: "El valor no es válido"            
        longitud:
            - NotNull:
                message: "Campo obligatorio"
            - Type:
                type: float
                message: "El valor no es válido"
                
