<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}DROMO{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('resources/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('resources/css/dashboard.css')}}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('resources/css/estilos-web.css')}}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('resources/images/iconos/dromo_icon.png') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">&#60;DROMO&#62;</a>
              </div>
            </div>
        </nav>
        <div class="container col-xs-12 text-center">
            <h1>Ups!! algo salio mal!</h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

